* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

.tab-bar .action-icon {
  width: 24px;
  height: auto;
  cursor: pointer;
  margin: 0 15px;
}

*,
p {
  font-family: Arial;
}

body {
  max-width: 375px;
  margin: auto;
  background-color: #fafafa;
}

.tab-bar .action-icon {
  width: 24px;
  height: auto;
  cursor: pointer;
  margin: 0 15px;
}

.tab-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: #f2f2f2;
  position: sticky;
  bottom: 0;
  padding: 10px 0;
  border-top: 1px solid #e2e2e2;
}
.tab-bar .action-icon {
  width: 22px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: auto;
  flex-direction: column;
  width: 100%;
  padding: 10px 0 6px;
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #e2e2e2;
  z-index: 1;
}
header .search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(118, 118, 128, 0.12);
  border: solid 1px;
  border-radius: 10px;
  width: 82.5%;
  height: 30px;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  border: none;
}
header .search .img-search {
  width: 12.5px;
  height: 12.5px;
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
}
header .search .img-search-2 {
  width: 18px;
  height: 18px;
}
header .tag-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  overflow-x: auto;
  /* Track */
  /* Handle */
}
header .tag-header::-webkit-scrollbar {
  height: 6px;
  display: none;
}
header .tag-header::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}
header .tag-header::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 5px;
}
header .tag-header a {
  text-decoration: none;
}
header .tag-header .tag-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid rgba(60, 60, 67, 0.18);
  box-sizing: border-box;
  border-radius: 6px;
  background: #FFFFFF;
  padding-top: 3px;
  padding-right: 15px;
  padding-bottom: 3px;
  padding-left: 15px;
  margin-top: 0;
  margin-right: 2px;
  margin-bottom: 0;
  margin-left: 2px;
}
header .tag-header .tag-box .tag-img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
header .tag-header .tag-box .text-box {
  font-family: Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.2px;
  color: #262626;
  white-space: nowrap;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

#txtBusca {
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-style: normal;
  font-size: 16px;
  border: none;
  height: 30px;
  width: 272px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: rgba(60, 60, 67, 0.6);
  align-self: center;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 45px;
}
main .img-galery {
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=search.css.map */
