@import "../styles.scss";

header {
    @include simple-flex(space-between, center, row);
    width: 100%;
    padding: 10px 0 6px;
    background-color: $background-secondary;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #e2e2e2;
    z-index: 1;

    .search{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:rgba(118, 118, 128, 0.12);
        border:solid 1px;
        border-radius:10px;
        @include set-box (85%,30px);
        margin-left: 8px;
        border: none;

        .img-search {
            width: 12.5px;
            height: 12.5px;
            align-self: center;
            margin-left: 10px;
            margin-right: 10px;
        }

        .img-search-2 {
            width: 18px;
            height: 18px;
        }

      }
}

  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:normal;
    font-size:16px;
    border:none;
    height:30px;
    width:272px;
    line-height: 22px;
    letter-spacing: -0.3px;
    color: rgba(60, 60, 67, 0.6);
    align-self: center;
  }
  
