@import "../styles.scss";

header {
    @include simple-flex(space-between, auto, column);
    width: 100%;
    padding: 10px 0 6px;
    background-color: $background-secondary;
/*     position: fixed; */
    top: 0;
    border-bottom: 1px solid #e2e2e2;
    z-index: 1;

    .search{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color:rgba(118, 118, 128, 0.12);
        border:solid 1px;
        border-radius:10px;
        @include set-box (82.5%,30px);
        border: none;

        .img-search {
            width: 12.5px;
            height: 12.5px;
            align-self: center;
            margin-left: 10px;
            margin-right: 10px;
        }

        .img-search-2 {
            width: 18px;
            height: 18px;
        }

      }
    .tag-header {
        @include simple-flex (space-between, center,row);
        @include margin (5px, 0, 0,0);
        overflow-x: auto;

        &::-webkit-scrollbar {
            height: 6px;
            display: none;
          }
      
          /* Track */
          &::-webkit-scrollbar-track {
            background-color: $background-secondary;
          }
      
          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: #c7c7c7;
            border-radius: 5px;
          }

        a {
            text-decoration: none;
        }

        .tag-box{
            @include simple-flex (space-between, center,row);
            border: 1px solid rgba(60, 60, 67, 0.18);
            box-sizing: border-box;
            border-radius: 6px;
            background: #FFFFFF;
            @include padding (3px, 15px, 3px, 15px);
            @include margin (0,2px,0,2px);

            .tag-img{
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }
            
            .text-box {
                @include set-font (Arial, normal, 600, 14px, 17px, -0.2px,#262626);
                white-space: nowrap;
                

            }
        }


    }
}
.flex-row{
    @include simple-flex (space-evenly,center,row)
}
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:normal;
    font-size:16px;
    border:none;
    height:30px;
    width:272px;
    line-height: 22px;
    letter-spacing: -0.3px;
    color: rgba(60, 60, 67, 0.6);
    align-self: center;
  }


main {
  width: 100%;

  .suggestions-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .post-img {
      margin: 0.5px;
      box-sizing: border-box;
      width: calc(33.33% - 1px);
      height: auto;
      object-fit: cover;
    }
    .post-img:nth-child(3n) {
      padding-left: 0;
    }

  }
}
